<link rel="stylesheet" href="../static/style.css">

<%- include('header.ejs') %>

<div class="main-container">
    <div class="article">
        <h1 class="article-title">What is python?</h1>       
        <div class="article-author-date">
            <span class="article-author">Author : Dark Knight</span>
            <span class="article-date">Published : December 12, 2020</span>
        </div>
        <div class="para">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia labore asperiores impedit vitae, natus eaque? Fugit fugiat modi tenetur architecto libero nostrum dolorem repudiandae. Hic optio nisi, odio obcaecati eaque nulla atque, esse, temporibus enim sit iusto? Accusantium tenetur sit pariatur voluptatibus. Vel dolore dolores architecto enim quasi fuga illo? Quia enim totam ex praesentium corrupti, nostrum sunt minima numquam perspiciatis inventore fugiat nobis ad doloribus sapiente laudantium cum adipisci pariatur ullam, illo non asperiores possimus obcaecati. Possimus pariatur perspiciatis accusamus sapiente doloremque nihil magnam, temporibus consequatur veritatis voluptatibus nobis necessitatibus fugiat qui repellendus, aspernatur, laboriosam ut odit expedita inventore. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit saepe facere aperiam laborum neque ullam excepturi numquam, temporibus explicabo, ipsum pariatur. Laboriosam nisi debitis minima dolorem nesciunt velit corrupti. Accusantium libero natus sed voluptates laboriosam dolorum labore! Ducimus, eius? Dolor nemo ex beatae itaque, omnis quae, laudantium porro voluptates et excepturi assumenda dignissimos possimus provident repellendus eius voluptas asperiores. Culpa dignissimos fugit reiciendis non ipsum porro facilis quasi totam magni error veniam temporibus assumenda quaerat rerum, corrupti eum sit impedit sed enim qui debitis, fuga incidunt? Quisquam id aliquid aliquam doloremque consequuntur repellendus, ex explicabo dolor nobis, quaerat, nisi libero.
            </p>
        </div>
    </div>
    <div class="sidebar-container">
        <!-- profile card -->
        <div class="profile-card">
            <div class="profile-bg1"></div>
            <div class="profile-img">
                <img src="../static/img.png" alt="">
            </div>
            <div class="profile-content">
                <h3>Dark Knight</h3>
                <p>
                    Hello there ! I am a Self taught Full Stack Web Developer.
                </p>
            </div>
            <div class="profile-social">
                <a href="/"><i class="fa-brands fa-instagram"></i></a>
                <a href="/"><i class="fa-brands fa-twitter"></i></a>
                <a href="/"><i class="fa-brands fa-github"></i></a>
                <a href="/"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>

        <!-- category -->
        <div class="category">
            <h3>Category</h3>
            <ul>
                <li><a href="/">Web Development</a></li>
                <li><a href="/">Linux</a></li>
                <li><a href="/">Android</a></li>
                <li><a href="/">Hacking</a></li>
            </ul>
        </div>

    </div>
</div>

<%- include('footer.ejs') %>