<link rel="stylesheet" href="../static/style.css">

<!-- contact -->
<%- include('header.ejs') %>

<div class="contact">
    <div class="contact-text">
        <h2>Contact</h2>
        <p>
            Say hi..! to me on social media.
        </p>
    </div>
    <div class="my-social">
        <ul class="contact-social">
            <li><a href="/"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="/"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="/"><i class="fa-brands fa-github"></i></a></li>
            <li><a href="/"><i class="fa-brands fa-linkedin"></i></a></li>
        </ul>
    </div>
    <div class="contact-email">
        <p>For all business inquiries, please email me...</p>
        <p><a href="">alexghoul45@gmail.com</a></p>
    </div>
</div>

<%- include('footer.ejs') %>