<link rel="stylesheet" href="../static/style.css">

    <div class="footer-container">
        <div class="footer-card">
            <div class="about-footer">
                <h3>About Blog</h3>
                <p>
                    Dark Blog is Lorem ipsum dolor sit,Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Repellendus, at?
                    Dark Blog is Lorem ipsum dolor sit,Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Repellend
                </p>

                <ul class="social">
                    <li><a href="/"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="/"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="/"><i class="fa-brands fa-github"></i></a></li>
                    <li><a href="/"><i class="fa-brands fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-text">
            <p>Copyright © 2022 all rights reserved | Dark Blog</p>
        </div>
    </div>

<!-- Script js -->
<script src="../static/script.js"></script>
<script src="https://kit.fontawesome.com/18b9ba6a0b.js" crossorigin="anonymous"></script>
</body>

</html>