<link rel="stylesheet" href="../static/style.css">

<div class="main-container">
    <div class="post-container">
        <div class="recent-post">Recent Posts</div>
        <div class="post-box">
            <div class="post-img">
                <img src="../static/img.png" alt="">
            </div>
            <div class="post-text-content">
                <div class="author-date">
                    <p>Author : Dark Knight</p>
                    <p>Published : Fri, December 2022</p>
                </div>
                <h3>What is python?</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est saepe sint magni, nesciunt aut, delectus numquam perferendis debitis quam exercitationem recusandae aliquam suscipit voluptatum dolor tenetur provident cupiditate rem quos?
                </p>
                <div class="read-more"><a href="">Read more</a></div>
            </div>
        </div>
        <div class="post-box">
            <div class="post-img">
                <img src="../static/img.png" alt="">
            </div>
            <div class="post-text-content">
                <div class="author-date">
                    <p>Author : Dark Knight</p>
                    <p>Published : Fri, December 2022</p>
                </div>
                <h3>What is python?</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est saepe sint magni, nesciunt aut, delectus numquam perferendis debitis quam exercitationem recusandae aliquam suscipit voluptatum dolor tenetur provident cupiditate rem quos?
                </p>
                <div class="read-more"><a href="">Read more</a></div>
            </div>
        </div>
        <div class="post-box">
            <div class="post-img">
                <img src="../static/img.png" alt="">
            </div>
            <div class="post-text-content">
                <div class="author-date">
                    <p>Author : Dark Knight</p>
                    <p>Published : Fri, December 2022</p>
                </div>
                <h3>What is python?</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est saepe sint magni, nesciunt aut, delectus numquam perferendis debitis quam exercitationem recusandae aliquam suscipit voluptatum dolor tenetur provident cupiditate rem quos?
                </p>
                <div class="read-more"><a href="">Read more</a></div>
            </div>
        </div>
        <div class="post-box">
            <div class="post-img">
                <img src="../static/img.png" alt="">
            </div>
            <div class="post-text-content">
                <div class="author-date">
                    <p>Author : Dark Knight</p>
                    <p>Published : Fri, December 2022</p>
                </div>
                <h3>What is python?</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est saepe sint magni, nesciunt aut, delectus numquam perferendis debitis quam exercitationem recusandae aliquam suscipit voluptatum dolor tenetur provident cupiditate rem quos?
                </p>
                <div class="read-more"><a href="">Read more</a></div>
            </div>
        </div>
        <div class="post-box">
            <div class="post-img">
                <img src="../static/img.png" alt="">
            </div>
            <div class="post-text-content">
                <div class="author-date">
                    <p>Author : Dark Knight</p>
                    <p>Published : Fri, December 2022</p>
                </div>
                <h3>What is python?</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est saepe sint magni, nesciunt aut, delectus numquam perferendis debitis quam exercitationem recusandae aliquam suscipit voluptatum dolor tenetur provident cupiditate rem quos?
                </p>
                <div class="read-more"><a href="">Read more</a></div>
            </div>
        </div>

        <!-- pagination -->
        <div class="pagination">
            <button class="btn1">Prev</button>
            <ul>
                <li class="link active" value="1"><a href="/">1</a></li>
                <li class="link" value="2"><a href="/">2</a></li>
                <li class="link" value="3"><a href="/">3</a></li>
                <li class="link" value="4"><a href="/">4</a></li>
                <li class="link" value="5"><a href="/">5</a></li>
                <li class="link" value="6"><a href="/">6</a></li>
            </ul>
            <button class="btn1">Next</button>
        </div>
    </div>
    <div class="sidebar-container">
        <!-- profile card -->
        <div class="profile-card">
            <div class="profile-bg1"></div>
            <div class="profile-img">
                <img src="../static/img.png" alt="">
            </div>
            <div class="profile-content">
                <h3>Dark Knight</h3>
                <p>
                    Hello there ! I am a Self taught Full Stack Web Developer.
                </p>
            </div>
            <div class="profile-social">
                <a href="/"><i class="fa-brands fa-instagram"></i></a>
                <a href="/"><i class="fa-brands fa-twitter"></i></a>
                <a href="/"><i class="fa-brands fa-github"></i></a>
                <a href="/"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>

        <!-- category -->
        <div class="category">
            <h3>Category</h3>
            <ul>
                <li><a href="/">Web Development</a></li>
                <li><a href="/">Linux</a></li>
                <li><a href="/">Android</a></li>
                <li><a href="/">Hacking</a></li>
            </ul>
        </div>

    </div>
</div>