<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../static/style.css">

</head>

<body>
    <div class="login-container">

        <form class="login-form">
            <h3>Sign Up</h3>
            <div class="login-content">
                <label for="username">Username : </label>
                <input type="text" name="username" placeholder="Enter username">
                <label for="email">Email : </label>
                <input type="text" name="email" placeholder="Enter your email">
                <label for="password">Password : </label>
                <input type="password" name="password" placeholder="Enter password">
            </div>
            <button class="btn">Sign Up</button>
        </form>
    </div>

</body>

</html>